<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>My Site</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/main.css"> 
</head>

<body>
    {{> head}}
    <main class="container">

        <div class="row">
            <div class="col-md-12">
                <p>A palindrome is a phrase that is spelled the same way, backwards and forwards (ignoring spacing and punctuation;
                    only alphanumeric characters matter). For example, the following phrases are palindromes:</p>
                {{{body}}}
            </div>
        </div>
    </main>
    {{>footer}}
    {{> resource}}
</body>

</html>