<div class="row" id="container">
    <title>Private</title>
    <h1>Private Info</h1>
    <div class="container">
        <div>
            firstName:<p class="text">{{data.firstName}}</p>
        </div>
        <div>
            lastName:<p class="text">{{data.lastName}}</p>
        </div>
        <div>
            profession:<p class="text">{{data.profession}}</p>
        </div>
        <div>
            bio:<p class="text">{{data.bio}}</p>
        </div>
    </div>
    <div class="form-group">
        <a href="/logout">logout</a>
    </div>
</div>