<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>My Site</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <script src="/public/js/check.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="/posts/new">Add a Post</a>
                <a href="/posts/result">go to a result</a>
            </li>
        </ul>
    </nav>
    <main>
        <p>A palindrome is a phrase that is spelled the same way, backwards and forwards</p>
        <p>(ignoring spacing and punctuation; only alphanumeric characters matter)</p>
        <p>the following phrases are palindromes:</p>

        <p>Madam</p>
        <p>Was it a cat I saw?</p>
        <p>He did, eh?</p>
        <p>Go hang a salami, I’m a lasagna hog.</p>
        <p>Poor Dan is in a droop</p>
        <p>Taco cat? Taco cat.</p>
        {{{body}}}
        
    </main>
</body>

</html>