<main>
    {{#if isPalindrome}}
        <p class="success">{{text-to-test}}</p>
        <p> Congratulations! It is a palindrome!</p>
    {{else}}
        <p class="failure">{{text-to-test}}</p>
        <p> Unfortunately, It is not a palindrome.</p>
    {{/if}}
    <a href="/">Try another palindrome</a>
</main>